<mat-toolbar>
  <mat-toolbar-row class="mb-2">
    <a class="navbar-brand" routerLink="/">
      <img src="../../../assets/img/logo.png" alt="bookcave">
    </a>
    <span class="example-spacer"></span>
    <button mat-mini-fab [matMenuTriggerFor]="profMenu">
      <mat-icon>account_circle</mat-icon>
    </button>

    <span class="example-icon"></span>
    <button mat-mini-fab>
      <a routerLink="/cart" routerLinkActive="active-link">
        <mat-icon matBadge="{{counter}}" matBadgeOverlap="false">shopping_cart</mat-icon>
      </a>
    </button>
    <span class="example-icon"></span>
    <button mat-mini-fab [matMenuTriggerFor]="navMenu">
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row class="bg-light text-secondary ">
    > {{pageTitle}}
    <span class="example-spacer"></span>
    <a routerLink="/store" routerLinkActive="active-link">STORE</a>
    <span class="example-icon"></span>
    <a routerLink="/aboutus" routerLinkActive="active-link">ABOUT US</a>
  </mat-toolbar-row>

  <mat-menu #navMenu="matMenu">
    <button mat-menu-item routerLink="/aboutus">
      <mat-icon>info</mat-icon>
      about us
    </button>
    <button mat-menu-item routerLink="/setbooks">
      <mat-icon>dashboard</mat-icon>
      dashboard
    </button>
  </mat-menu>

  <mat-menu #profMenu="matMenu">
    <button mat-menu-item routerLink="/aboutus">
      profile
    </button>
    <button mat-menu-item routerLink="/login">
      login
    </button>
    <button mat-menu-item (click)="logout()">
      logout
    </button>
  </mat-menu>
</mat-toolbar>
